/* larger.css - for wider screens */

@media (min-width: 768px) {

    header {
        text-align: center;
    }

    header img {
        display: block;
        margin: 0 auto;
    }

    header span {
        margin: auto auto;
    }

    #hamburger {
        display: none;
    }

    /* Navigation Flexbox */
    ul.navMenu, ul.navMenu.active {
        display: flex;
        flex-direction: row;
        box-shadow: none;
        width: auto;
        justify-content: space-around;
    }

    
    nav ul li a:hover,
    nav ul li a:focus,
    nav ul li a:active {
    background-color: rgba(255,255, 255, 4)
    }
    

    /* Main Section Grid */
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-template-areas:
            "heading heading"
            "card1 card2";
    }

    main h1 {
        grid-area: heading;
        text-align: center;
    }

    .card:nth-of-type(1) {
        grid-area: card1;
    }

    .card:nth-of-type(2) {
        grid-area: card2;
    }

    .card {
        margin: 0;
    }

    .course-links li {
        margin-bottom: 1rem;
    }
}